.main-container {
  height: calc(100vh - 10px);
  overflow: hidden;
}
.mid-container,
.right-container {
  height: calc(100vh - 60px);
  overflow: auto;
  background-color: #fff;
  position: relative;
}
.right-container{
  max-width: 400px;
}
.min-height-600 {
  min-height: 600px;
}
.min-width-400 {
  min-width: 400px;
}
.chat-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  cursor: pointer;
}
.upload-images {
  display: none;
}
.bi-upload {
  background-image: url("./assests/upload.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}
/* .mid-container::-webkit-scrollbar {
    display: none;
  } */
.profile-pic {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
}
.ml-10 {
  margin-left: 10px;
}
.media-container {
  min-height: 500px;
  width: 100%;
  border-radius: 4px;
  background-color: #ccc;
  margin-top: 10px;
}
.carousel-indicators {
  display: none !important;
}
.carousel-item,
.carousel-inner,
.carousel-item img {
  border-radius: 4px;
}
h4 {
  font-size: 16px !important;
}
h6.user-name {
  font-size: 14px;
  margin-bottom: 0 !important;
}
.comment-box {
  background-color: #eee;
  padding: 10px;
  border-radius: 8px;
}
.add-comment .form-control,
.add-comment .form-control:focus {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0 !important;
  box-shadow: none;
}
.icon-send {
  background-image: url("./assests/send.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.p-relative {
  position: relative;
}
.on-on-one-chat {
  position: fixed !important;
  bottom: 0 !important;
  right: 120px;
  height: 400px;
  width: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}
.enter-msg {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.enter-msg .icon-send {
  top: 115px;
  right: 15px;
  height: 25px;
  width: 25px;
}
.icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("./assests/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.icon-user{
  background-image: url('./assests/usericon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}
.icon-del{
  background-image: url('./assests/icon-delete.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
    width: 17px;
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
  display: inline-block;
}
.thumbnails{
  display: flex;
  align-items: center;
  gap: 10px;
}
.thumbnails .item{
  height: 70px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid #eee;
  position: relative;
}
.thumbnails .item img{
  height: 100%;
  width: 100%;
  /* border-radius: 4px; */
}